.container{
    background-color: azure;
    border: 15px;
    padding: 10px;
}
.product{
    width: 25%;
    border: 1px solid black;
    border-radius: 30px;
    float: left;
    margin: 15px;
    padding: 10px;
}

.product h3{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    font-size: 35px;
}
.product p{
    text-align: justify;
}
.image-center{
    display: flex;
    justify-content: center;
    border-radius: 15px;
}
.image-center img{
    border-radius: 15%;
}